<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7CfqsVvzO4dfp6ncDmR4umB8OVMQoaAY</string>
	<key>GCM_SENDER_ID</key>
	<string>399746685292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diksha.shelfie</string>
	<key>PROJECT_ID</key>
	<string>shelfie-39385</string>
	<key>STORAGE_BUCKET</key>
	<string>shelfie-39385.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399746685292:ios:b754a0decfb1690bc83b49</string>
</dict>
</plist>